@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Thin-Desktop\ 2.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Light-Desktop 3.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Light-Desktop 4.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Light-Desktop 5.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Regular-Desktop 2.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Medium-Desktop 2.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Bold-Desktop.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Bold-Desktop 2.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Bold-Desktop 5.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Normalidad';
  src: url('./fonts/Normalidad\ Wide-Black-Desktop.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}
