* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_670 {
  width: 100%;
  height: 10107px;
  background: rgba(246,246,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_579 {
  width: 100%;
  height: 139px;
  background: rgba(18,98,255,0.09000000357627869);
  opacity: 1;
  position: absolute;
  top: 7001px;
  left: 50px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v10_526 {
  height: 100%;
  background: url("../images/v10_526.png");
  opacity: 1;
  position: absolute;
  top: 3395px;
  left: 125px;
  border: 16px solid rgba(18,98,255,1);
}
.v5_469 {
  width: 628px;
  height: 257px;
  background: rgba(247,250,255,1);
  opacity: 1;
  position: absolute;
  top: 1407px;
  left: 52px;
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
  box-shadow: 0px 4px 100px rgba(0.07058823853731155, 0.3843137323856354, 1, 0.15000000596046448);
  overflow: hidden;
}
.v5_471 {
  width: 628px;
  height: 257px;
  background: rgba(247,250,255,1);
  opacity: 1;
  position: absolute;
  top: 1407px;
  left: 638px;
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
  box-shadow: 0px 4px 100px rgba(0.07058823853731155, 0.3843137323856354, 1, 0.15000000596046448);
  overflow: hidden;
}
.v5_441 {
  width: 206px;
  height: 69px;
  background: url("../images/v5_441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1202px;
  left: 666px;
  border: 1px solid rgba(18,98,255,1);
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v5_444 {
  width: 171px;
  height: 69px;
  background: url("../images/v5_444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1198px;
  left: 194px;
  border: 1px solid rgba(18,98,255,1);
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v5_442 {
  width: 78px;
  height: 69px;
  background: linear-gradient(rgba(18,98,255,1), rgba(223,233,255,1));
  opacity: 1;
  position: absolute;
  top: 1202px;
  left: 508px;
  border: 1px solid rgba(18,98,255,1);
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v5_443 {
  width: 174px;
  height: 175px;
  background: url("../images/v5_443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1157px;
  left: 398px;
  border: 1px solid rgba(18,98,255,1);
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4_413 {
  width: 100%;
  height: 724px;
  background: url("../images/v4_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 0px;
  overflow: hidden;
}
.v4_412 {
  width: 100%;
  height: 724px;
  background: url("../images/v4_412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 863px;
  left: 0px;
  overflow: hidden;
}
.v2_385 {
  width: 846px;
  color: url("../images/v2_385.png");
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 120px;
  opacity: 1;
  text-align: left;
}
.v2_387 {
  width: 683px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 305px;
  left: 50px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_416 {
  width: 542px;
  color: url("../images/v5_416.png");
  position: absolute;
  top: 841px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v10_482 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2535px;
  left: 52px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_530 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5978px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_559 {
  width: 408px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6625px;
  left: 51px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_561 {
  width: 610px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6806px;
  left: 51px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_560 {
  width: 408px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6625px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_562 {
  width: 463px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6806px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_532 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6130px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_534 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6295px;
  left: 51px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_486 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2725px;
  left: 52px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_484 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2535px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_487 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2725px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_481 {
  width: 100%;
  color: url("../images/v5_481.png");
  position: absolute;
  top: 2233px;
  left: 52px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v10_490 {
  width: 100%;
  color: url("../images/v10_490.png");
  position: absolute;
  top: 2964px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v10_529 {
  width: 100%;
  color: url("../images/v10_529.png");
  position: absolute;
  top: 5718px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v10_578 {
  width: 100%;
  color: url("../images/v10_578.png");
  position: absolute;
  top: 7213px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v5_424 {
  width: 237px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 1004px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v5_465 {
  width: 279px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 1438px;
  left: 101px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v5_467 {
  width: 279px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 1434px;
  left: 578px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v5_425 {
  width: 580px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 1739px;
  left: 52px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v5_420 {
  width: 594px;
  color: url("../images/v5_420.png");
  position: absolute;
  top: 1084px;
  left: 52px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_558 {
  width: 795px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7033px;
  left: 90px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_604 {
  width: 685px;
  color: url("../images/v20_604.png");
  position: absolute;
  top: 7661px;
  left: 50px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_496 {
  width: 400px;
  color: url("../images/v10_496.png");
  position: absolute;
  top: 3484px;
  left: 322px;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_504 {
  width: 477px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 4272px;
  left: 322px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_601 {
  width: 477px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 7505px;
  left: 51px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_520 {
  width: 477px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 5099px;
  left: 322px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_500 {
  width: 510px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 3750px;
  left: 322px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_505 {
  width: 457px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 4273px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_521 {
  width: 362px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 5100px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_498 {
  width: 494px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 3484px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_506 {
  width: 494px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 4511px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_522 {
  width: 494px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 5338px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_501 {
  width: 494px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 3750px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_497 {
  width: 385px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3555px;
  left: 322px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_508 {
  width: 441px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4316px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_602 {
  width: 441px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7549px;
  left: 56px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_612 {
  width: 529px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7943px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_613 {
  width: 534px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7950px;
  left: 666px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_523 {
  width: 441px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5143px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_502 {
  width: 450px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3821px;
  left: 322px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_509 {
  width: 524px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4316px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_524 {
  width: 524px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5143px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_499 {
  width: 524px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3555px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_510 {
  width: 524px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4582px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_525 {
  width: 524px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5418px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_503 {
  width: 466px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3787px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_483 {
  width: 112px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 2620px;
  left: 52px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v10_531 {
  width: 112px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 6063px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_533 {
  width: 112px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 6215px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_535 {
  width: 88px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 6380px;
  left: 51px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_564 {
  width: 420px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 6701px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v20_610 {
  width: 313px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 7883px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v20_614 {
  width: 360px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 7890px;
  left: 666px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_566 {
  width: 407px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 6898px;
  left: 51px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_567 {
  width: 233px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 6898px;
  left: 528px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_565 {
  width: 315px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 6701px;
  left: 528px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_488 {
  width: 112px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 2810px;
  left: 52px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v10_485 {
  width: 112px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 2620px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v10_489 {
  width: 112px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 2810px;
  left: 532px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v5_466 {
  width: 594px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1518px;
  left: 101px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_468 {
  width: 594px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1514px;
  left: 578px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_436 {
  width: 486px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1066px;
  left: 606px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_437 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1220px;
  left: 689px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_440 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1216px;
  left: 167px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_438 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1221px;
  left: 484px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_439 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1177px;
  left: 377px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_435 {
  width: 277px;
  height: 57px;
  background: url("../images/v5_435.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1004px;
  left: 484px;
  overflow: hidden;
}
.v5_446 {
  width: 18px;
  background: url("../images/v5_446.png");
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 526px;
  border: 1px solid rgba(18,98,255,1);
}
.v5_447 {
  width: 32px;
  background: url("../images/v5_447.png");
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 430px;
  border: 1px solid rgba(18,98,255,1);
}
.v5_448 {
  width: 30px;
  background: url("../images/v5_448.png");
  opacity: 1;
  position: absolute;
  top: 1233px;
  left: 224px;
  border: 1px solid rgba(18,98,255,1);
}
.v5_449 {
  width: 360px;
  height: 80px;
  background: url("../images/v5_449.png");
  opacity: 1;
  position: absolute;
  top: 1122px;
  left: 467px;
  border: 1px solid rgba(18,98,255,1);
}
.v5_473 {
  width: 487px;
  height: 82px;
  background: rgba(247,250,255,1);
  padding: 24px 37px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1826px;
  left: 52px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  overflow: hidden;
}
.v5_426 {
  width: 413px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 37px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_474 {
  width: 783px;
  height: 82px;
  background: rgba(247,250,255,1);
  padding: 24px 37px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1826px;
  left: 565px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  overflow: hidden;
}
.v5_475 {
  width: 709px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 37px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_477 {
  width: 100%;
  height: 82px;
  background: rgba(247,250,255,1);
  padding: 24px 37px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1934px;
  left: 52px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  overflow: hidden;
}
.v5_478 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 37px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v5_479 {
  width: 500px;
  height: 82px;
  background: rgba(247,250,255,1);
  padding: 24px 37px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2049px;
  left: 52px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  overflow: hidden;
}
.v5_480 {
  width: 426px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 37px;
  font-family: Normalidad;
  font-weight: Wide Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v10_492 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3354px;
  left: 322px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_512 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4142px;
  left: 322px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_517 {
  width: 729px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4985px;
  left: 322px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v10_494 {
  width: 151px;
  height: 151px;
  background: rgba(18,98,255,1);
  opacity: 1;
  position: absolute;
  top: 3320px;
  left: 50px;
  border-radius: 50%;
}
.v10_518 {
  width: 151px;
  height: 151px;
  background: rgba(18,98,255,1);
  opacity: 1;
  position: absolute;
  top: 4952px;
  left: 50px;
  border-radius: 50%;
}
.v10_527 {
  width: 151px;
  height: 151px;
  background: rgba(18,98,255,1);
  opacity: 1;
  position: absolute;
  top: 4118px;
  left: 50px;
  border-radius: 50%;
}
.v10_495 {
  width: 151px;
  height: 151px;
  background: rgba(18,98,255,1);
  opacity: 1;
  position: absolute;
  top: 3320px;
  left: 50px;
  border-radius: 50%;
}
.v10_519 {
  width: 151px;
  height: 151px;
  background: rgba(18,98,255,1);
  opacity: 1;
  position: absolute;
  top: 4952px;
  left: 50px;
  border-radius: 50%;
}
.v10_528 {
  width: 151px;
  height: 151px;
  background: rgba(18,98,255,1);
  opacity: 1;
  position: absolute;
  top: 4118px;
  left: 50px;
  border-radius: 50%;
}
.v10_536 {
  width: 528px;
  height: 528px;
  background: rgba(18,98,255,0.5);
  opacity: 1;
  position: absolute;
  top: 5907px;
  left: 536px;
  border-radius: 50%;
}
.v10_537 {
  width: 397px;
  height: 397px;
  background: rgba(18,98,255,0.5);
  opacity: 1;
  position: absolute;
  top: 6038px;
  left: 470px;
  border-radius: 50%;
}
.v10_538 {
  width: 266px;
  height: 266px;
  background: rgba(18,98,255,0.5);
  opacity: 1;
  position: absolute;
  top: 6171px;
  left: 405px;
  border-radius: 50%;
}
.v10_539 {
  width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5962px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v10_540 {
  width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6091px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v10_541 {
  width: 113px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6277px;
  left: 327px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v10_546 {
  width: 426px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 5880px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v10_556 {
  width: 542px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 6522px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v20_622 {
  width: 524px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 8213px;
  left: 50px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v10_592 {
  width: 663px;
  height: 663px;
  background: url("../images/v10_592.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5423px;
  left: 469px;
  transform: rotate(-47deg);
  overflow: hidden;
}
.v10_593 {
  width: 832px;
  height: 832px;
  background: url("../images/v10_593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6221px;
  left: 145px;
  transform: rotate(-140deg);
  overflow: hidden;
}
.v20_594 {
  width: 866px;
  height: 866px;
  background: url("../images/v20_594.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1859px;
  left: 483px;
  overflow: hidden;
}
.v20_600 {
  width: 866px;
  height: 866px;
  background: url("../images/v20_600.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3292px;
  left: 381px;
  overflow: hidden;
}
.v20_598 {
  width: 100%;
  height: 100%;
  background: url("../images/v20_598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 229px;
  left: 238px;
  transform: rotate(-26deg);
  overflow: hidden;
}
.v20_597 {
  width: 708px;
  height: 708px;
  background: url("../images/v20_597.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3629px;
  left: 399px;
  transform: rotate(-100deg);
  overflow: hidden;
}
.v20_599 {
  width: 100%;
  height: 100%;
  background: url("../images/v20_599.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8239px;
  left: 347px;
  transform: rotate(-121deg);
  overflow: hidden;
}
.v20_624 {
  width: 325px;
  height: 224px;
  background: rgba(18,98,255,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 8296px;
  left: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v20_626 {
  width: 326px;
  height: 224px;
  background: rgba(18,98,255,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 8296px;
  left: 672px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v20_625 {
  width: 326px;
  height: 224px;
  background: rgba(18,98,255,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 8296px;
  left: 388px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v20_627 {
  width: 325px;
  height: 224px;
  background: rgba(18,98,255,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 8296px;
  left: 333px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v20_628 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8327px;
  left: 81px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_629 {
  width: 137px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8327px;
  left: 428px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_630 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8328px;
  left: 618px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_631 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8328px;
  left: 280px;
  font-family: Normalidad;
  font-weight: Wide Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v20_632 {
  width: 160px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 8361px;
  left: 81px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v20_633 {
  width: 226px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 8361px;
  left: 428px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v20_634 {
  width: 217px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 8363px;
  left: 618px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v20_635 {
  width: 244px;
  color: rgba(18,98,255,1);
  position: absolute;
  top: 8363px;
  left: 280px;
  font-family: Normalidad;
  font-weight: Wide Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
